_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcworkspace
xcuserdata
ViewController2.swift
ReactivePractice2/ReactivePractice2/GalleryViewController2.swift
ReactivePractice2/ReactivePractice2/GalleryViewController3.swift
ReactivePractice2/ReactivePractice2/GalleryViewController4Add.swift
ReactivePractice2/ReactivePractice2/GalleryViewController6.swift
ReactivePractice2/ReactivePractice2/PhotoCell2.swift
ReactivePractice2/ReactivePractice2/PhotoCell3.swift
ReactivePractice2/ReactivePractice2/PhotoModel2.swift
ReactivePractice2/ReactivePractice2/PhotoViewController2.swift

Pods/
Podfile.lock
Podfile~
